# server configuration
HOST=APP HOST
PORT=APP PORT

# node-postgres configuration
PGUSER=DATABASE USER
PGHOST=DATABASE HOST
PGPASSWORD=DATABASE PASSWORD
PGDATABASE=DATABASE NAME
PGPORT=DATABASE PORT

# JWT token
ACCESS_TOKEN_KEY=YOUR ACCESS TOKEN
REFRESH_TOKEN_KEY=YOUR TOKEN KEY
ACCESS_TOKEN_AGE=YOUR ACCESS TOKEN AGE
